:root {
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --third-title-color: #212121;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --header-nav-item-color: #212121;
  --header-contact-link-color: #757575;
  --accent-color: #2196f3;
}
/* calc(85 / 74) встроенный калькулятор */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
}
.btn {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  background-color: #2196f3;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* -------header------ */
.header-logo,
.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}
.header-logo {
  color: #000000;
}
.footer-logo {
  color: #ffffff;
}
.logo-web {
  color: #2196f3;
}
.nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: var(--header-nav-item-color);
}
.nav-link {
  color: var(--header-nav-item-color);
}
.nav-link:hover {
  cursor: pointer;
  color: var(--accent-color);
}
.current {
  color: #2196f3;
}
.header-contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: var(--header-contact-link-color);
}
.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--accent-color);
}
/*--------- hero------ */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}
.hero {
  background-color: #2f303a;
}
.hero-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  color: var(--third-title-color);
}
.hero-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/*--------- skills------ */
.skills-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}
/*--------- team------ */
.team {
  background-color: #f5f4fa;
}
.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-title-color);
}
.team-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/*--------- footer------ */
.footer {
  background-color: #2f303a;
}
.footer-item-addres,
.footer-item-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-item-link {
  color: rgba(255, 255, 255, 0.6);
}
/*--------- portfolio------ */
/*--------- filter------ */
.filter-btn,
.filter-btn:hover,
.filter-btn:focus {
  font-family: inherit;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border-radius: 4px;
  background-color: #f5f4fa;
}
.filter-btn:hover,
.filter-btn:focus {
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
}
.filter-about-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--third-title-color);
}
.filter-about-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
